@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.main {
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: clamp(5px, 2.3364vw, 20px) clamp(18px, 8.41104vw, 72px);
  }
}
